Ext.define('${PROJECT_NAME}.view.grid.tbar.${entity.name}Combo', {
    extend: '${PROJECT_NAME}.view.grid.tbar.gen.${entity.name}ComboGen',
    xtype: 'tbar.${fn.toLowerCase(${entity.name})}.combo',
    // extjs default queryParam: 'query'
    queryParam: 'query',
    // extjs default displayField: 'text'
    displayField: 'text',
    // ${entity.name}ComboGen default queryPath: '/search/findByQuery'
    urlSearchApiQueryPath: '/search/findByQuery'
});
