Ext.define('${PROJECT_NAME}.view.grid.base.BaseGrid', {
    extend: 'Ext.grid.Panel',
    requires: ['${PROJECT_NAME}.view.grid.tbar.GridTbar'],
    autoLoad: true,
    minHeight: 400,
    tbar: {
        xtype: 'gridtbar'
    },
    bbar: {
        xtype: 'pagingtoolbar',
        displayInfo: true
    },
    plugins: {
        ptype: 'rowediting',
        clicksToEdit: 2
    }
});